Makefile
Makefile.in
*.a
*.o
*.lo
*.la
*.orig
*.rej
.deps
.libs
.idea
.directory
compile_commands.json
*~

/configure
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/config.rpath
/compile
/depcomp
/dummy-config.h
/dummy-config.h.in
/fts-config.h
/install-sh
/libtool
/ltmain.sh
/missing
/run-test.sh
/stamp.h
/stamp-h1
/stamp-h2
/autom4te.cache
/ChangeLog
/cc-wrapper.sh
/dovecot-config
/dovecot-config.in
/dovecot-version.h
/README
/INSTALL

/aclocal.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

src/**/test-*
!src/**/test-*.c
!src/**/test-*.h
!src/**/test-*.inc

doc/man/doveadm-acl.1
doc/man/doveadm-altmove.1
doc/man/doveadm-auth.1
doc/man/doveadm-batch.1
doc/man/doveadm-deduplicate.1
doc/man/doveadm-director.1
doc/man/doveadm-dump.1
doc/man/doveadm-exec.1
doc/man/doveadm-expunge.1
doc/man/doveadm-fetch.1
doc/man/doveadm-flags.1
doc/man/doveadm-fs.1
doc/man/doveadm-fts.1
doc/man/doveadm-import.1
doc/man/doveadm-instance.1
doc/man/doveadm-index.1
doc/man/doveadm-force-resync.1
doc/man/doveadm-help.1
doc/man/doveadm-kick.1
doc/man/doveadm-log.1
doc/man/doveadm-mailbox.1
doc/man/doveadm-mailbox-cryptokey.1
doc/man/doveadm-mount.1
doc/man/doveadm-move.1
doc/man/doveadm-penalty.1
doc/man/doveadm-proxy.1
doc/man/doveadm-purge.1
doc/man/doveadm-pw.1
doc/man/doveadm-quota.1
doc/man/doveadm-rebuild.1
doc/man/doveadm-replicator.1
doc/man/doveadm-save.1
doc/man/doveadm-stats.1
doc/man/doveadm-search.1
doc/man/doveadm-sync.1
doc/man/doveadm-user.1
doc/man/doveadm-who.1
doc/man/doveadm.1
doc/man/doveconf.1
doc/man/dovecot-lda.1
doc/man/dovecot.1
doc/man/dovecot-sysreport.1

doc/example-config/README
doc/wiki/*.txt
doc/wiki/Makefile.am
src/anvil/anvil
src/auth/checkpassword-reply
src/auth/auth
src/config/all-settings.c
src/config/config
src/config/doveconf
src/lda/dovecot-lda
src/dict/dict
src/director/director
src/director/director-test
src/dns/dns-client
src/doveadm/doveadm
src/doveadm/doveadm-server
src/imap-hibernate/imap-hibernate
src/imap-login/imap-login
src/imap-urlauth/imap-urlauth
src/imap-urlauth/imap-urlauth-login
src/imap-urlauth/imap-urlauth-worker
src/imap/imap
src/indexer/indexer
src/indexer/indexer-worker
src/ipc/ipc
src/lib/unicodemap.c
src/lib/UnicodeData.txt
src/lib-compression/bench-compression
src/lib-fts/PropList.txt
src/lib-fts/WordBreakProperty.txt
src/lib-fts/word-boundary-data.c
src/lib-fts/word-break-data.c
src/lib-dict-backend/dict-drivers-register.c
src/lib-sql/sql-drivers-register.c
src/log/log
src/lmtp/lmtp
src/master/dovecot
src/ssl-params/ssl-params
src/stats/stats
src/old-stats/old-stats
src/plugins/fts-squat/squat-test
src/pop3-login/pop3-login
src/pop3/pop3
src/replication/replicator/replicator
src/replication/aggregator/aggregator
src/submission-login/submission-login
src/submission/submission
src/util/gdbhelper
src/util/listview
src/util/maildirlock
src/util/rawlog
src/util/script
src/util/script-login
src/util/tcpwrap
src/plugins/fts/xml2text
src/plugins/quota/rquota_xdr.c
src/plugins/quota/rquota.h
src/plugins/quota/quota-status
